.contacts-page-container {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    width: 100svw;
    background-color: white;

}



@media screen and (min-aspect-ratio: 1/1) {

 .contact-info-section{
    flex-direction: column;
 }

   

}

.contact-form-section h2 {

    color: #19a3ff;
}

.contact-form-section {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    padding: 30px 10vw;
    gap: 20px;
}


.input-container {
    margin-bottom: 10px;
    height: 50px;
    position: relative;
    width: clamp(300px, 50vw, 500px);
}

.input-container-msg {
    margin-bottom: 10px;
    height: 100px;
    position: relative;
    width: clamp(300px, 50vw, 500px);
}



.input {
    font-family: "Raleway";
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #1d1d1d;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}




.submit {
    background-color: #19a3ff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    width: clamp(300px, 50vw, 500px);
}

.submit:active {
    background-color: #06b;
}


.contact-info-section h2 {
    color: #286196;
}

.contact-sub-section {

    align-items: center;
    justify-content: space-between;
    padding: 10px;
}




.contact-info-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10vw;
}