.contacts-page-container {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    width: 100svw;
    background-color: #1d1d1d;

}

.contacts-content {
    display: flex;
    flex-direction: column;
    /* Stacks children vertically by default */
    width: 100%;
}


@media screen and (min-aspect-ratio: 1/1) {

    .contacts-content {
        flex-direction: row-reverse;
        /* Makes children (contact info and form sections) side by side */
        justify-content: space-around;
        /* Spreads children evenly with space around them */
        align-items: flex-start;
        /* Aligns children at the start of the container */
        height: 92svh;
    }


    .contact-form-section {
        width: 20%;
        /* Adjusts the width of each section to fit side by side */
        /* You might want to adjust padding, margins, etc., here as well */
    }

    .contact-info-section {
        width: 80%;
        /* Sets width of info section to 60% */
        /* Other styling here */
        flex-direction: column;
    }

    .contact-form-section {
        width: 40%;
        /* Adjust this as needed */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* Aligns the form to the center and message to the bottom */
        align-items: center;
        /* Center align the content horizontally */
        padding: 30px 10vw;
        /* Maintain padding but adjust as necessary */
        background-color: #1d1d1d;
        /* Maintain the background color */
        height: 100%;
        /* This will make it take the full height of .contacts-content */
    }

    .forms-container {
        width: 100%;
        /* Make the forms container take full width of its parent */
        max-width: 500px;
        /* Adjust the max-width as needed */
        margin: 0 auto;
        /* This will auto-adjust margin to center the container */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Center the form vertically */
    }





}






.touch {
    position: relative;
    width: 100%;
    /* Make the touch container take full width */
    text-align: center;
    /* Center align the text */
    padding: 20px;
    /* Add padding to separate from the form */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.touch p {
    color: white;
}

@media screen and (max-aspect-ratio: 1/1) {
    .touch {
        /* Adjust the width as needed */
        margin-top: 50px;
        /* Remove padding */
    }
}


.contact-form-section h2 {

    color: #19a3ff;
}

.contact-form-section {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10vw;
    gap: 20px;
}


.input-container {
    margin-bottom: 10px;
    height: 50px;
    position: relative;
    width: clamp(300px, 50vw, 400px);
}

.input-container-msg {

    margin-bottom: 10px;
    height: 100px;
    position: relative;
    width: clamp(300px, 50vw, 400px);
}

.input-container,
.input-container-msg,
.submit {
    max-width: 400px;
    /* Match this with the forms-container max-width */
    margin-left: auto;
    /* This will align the element to the center */
    margin-right: auto;
    /* This will align the element to the center */
}


.input {
    font-family: "Raleway";
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #1d1d1d;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}




.submit {
    background-color: #19a3ff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: clamp(300px, 50vw, 400px);


}


.submit:active {
    background-color: #19a3ff;
}


.contact-info-section h2 {
    color: #19a3ff;
}

.contact-sub-section {

    align-items: center;
    justify-content: space-between;
    padding-top: 10px; 
    padding-bottom: 10px;

}



.contact-info-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10vw;
}