.article-page {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1d1d1d;
  min-height: 100svh;
  }
 
  h1 {
    font-family: 'Horizon';
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-weight: normal;
    background-size: 150%;
    background-clip: text;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
  }


h2 {
  font-family: 'Horizon';
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: normal;
  color: white;
  background-size: 150%;
  background-clip: text;
  padding-top: 1%;
  padding-bottom: 1%;
}

h3 {
  font-family: 'Raleway';
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: bold;

  color: white;
  background-size: 130%;
  background-clip: text;
  padding-top: 1%;
  padding-bottom: 1%;
}

h4{
  font-family: 'Raleway';
  font-weight: bolder;
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;

}

small{
  font-family: 'Raleway';
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}


p {
  font-family: "Raleway";
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: white;
  max-width: 80svw;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* When the height is less than 800px */
@media screen and (max-height: 800px) {
  h3, p {
      font-size: 0.9rem; /* Adjust the font size as needed */
  }
}

/* When the height is less than 600px */
@media screen and (max-height: 600px) {
 h3, p {
      font-size: 0.8rem; /* Further adjust the font size as needed */
  }
}

/* When the height is less than 400px */
@media screen and (max-height: 400px) {
  h3, p {
      font-size: 0.7rem; /* Further adjust the font size as needed */
  }
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100svw;
  min-height: 100svh;
}

/* Add these styles to App.css or a relevant CSS file */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms, transform 600ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.article-content-container{

padding-left: 10svw;
padding-right: 10svw;
padding-top: 5svh;
}

.publish-date{
  padding-left: 10svw;
padding-right: 10svw;
padding-top: 5svh;
}