.top-bar {
  color: white;
  z-index: 2;
  position: fixed;
<<<<<<< HEAD
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
=======
  width: 100svw;
  height: 8svh;
>>>>>>> 3a17f36297f8a28be7fe421412dbf8f28e8c6a8e
  transition: background-color 0.3s;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.top-bar.scrolled {
  background-color: #1d1d1dc0;
  color: white;
  width: 100vw;
}

.top-bar.home {
  background-color: #1d1d1d00;
  color: white;
}

.top-bar.home.scrolled {
  background-color: #1d1d1dc0;
  color: white;
}

.top-bar .logo img {
  position: relative;
  width: auto;
  max-height: 5vh;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  max-width: auto;
  bottom: 25%;
  
  /* Limit logo size */
}

@media (max-aspect-ratio: 1/1) {
  .top-bar .logo img {
    left: 36vw;
    bottom: 25%;
    /* Limit logo size */
  }
}



.top-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.top-bar ul li {

  color: white;
  margin: 0;
  transition: transform 0.3s ease;
}

.top-bar ul li:hover {
  transform: scale(1.1);
}

.top-bar li.active a {
  font-size: 1.4em;
  line-height: 1;
  padding: 0.5em 1em;
  background-image: linear-gradient(to right, #ffffff, #2980b9, #ffffff);
  background-size: 100%;
  background-clip: text;
  color: transparent;
}

.top-bar ul li a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.top-bar ul li a:hover {
  background-image: linear-gradient(to right, #2980b9, #ffffff);
  background-size: 100%;
  background-clip: text;
  color: transparent;
}

.top-bar.scrolled ul li a {
  color: linear-gradient(to right, #ffffff, #2980b9, #ffffff);
  transition: all 0.3s ease;
}

.top-bar.scrolled ul li a:hover {
  background-image: linear-gradient(to right, #2980b9, #ffffff);
  background-size: 100%;
  background-clip: text;
  color: transparent;
}

.language-buttons {
  position: relative;
  flex-direction: row;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  /* Ensure the buttons are centered vertically */
  display: flex;
 
  /* Adjust the gap as needed */
  padding-right: 1vw;
  /* Adjust the right padding as needed */
}

@media (max-aspect-ratio: 1/1) {
  .language-buttons {
    display: none;
  }
}

.drawerButton {
  display: none;
}

/* Adjustments for smaller screens */
@media (max-aspect-ratio: 1/1) {
 
  .drawerButton {
  position: absolute;
  bottom: 4%;
    /* Center vertically in the top bar */
    font-size: 2rem;
    /* Increase the size of the icon */
    background: none;
    border: none;
    color: #fff;
    /* Adjust the color to fit your design */
    padding: 10px;
  }


}

/* Hide the hamburger icon by default */
.hamburger-button {
  display: none;

}

/* Show the hamburger icon only on screens smaller than 768px */
@media (max-aspect-ratio: 1/1) {
  .drawerButton {
    display: block;
  }

  .hamburger-button {
    display: block;
    background: none;
    border: none;
    color: #fff;
    /* Adjust the color to fit your design */
    font-size: 1.5rem;
    /* Adjust the size as needed */
  }

  .top-bar ul {
    display: none;
  }

}