.page-header-container{
    width: 100svw;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #1d1d1d;
  } 
  
  .page-header-container .page-title {
    text-align: center;
    font-family: 'Horizon'; 
    font-size: 4em; 
    font-weight: normal; 
    /* background-image: linear-gradient(to right, #19a3ff, #ffffff); */
    background-size: 100%;
    background-clip: text;
    color: transparent;
    margin: 0;
  }

  @media (max-aspect-ratio : 1/1){
    .page-header-container .page-title{
      font-size: 2.5em;
    }
  }
  
  .page-header-container .page-subtitle {
    text-align: center;
    font-family: 'Raleway'; 
    font-size:  clamp(1rem, 2vw, 1.4rem); 
    font-weight: normal; 
    color: #ffffff;
  }
  

