.page-header-container{
    width: 100svw;
    padding: 1%;
    background-color: #1d1d1d;
  } 
  
  .page-header-container .page-title {
    text-align: center;
    font-family: 'AkiraExpanded'; 
    font-size: clamp(2rem, 3vw, 6rem); 
    font-weight: normal; 
    /* background-image: linear-gradient(to right, #19a3ff, #ffffff); */
    background-size: 100%;
    background-clip: text;
    color: transparent;
    margin: 0;
  }
  
  .page-header-container .page-subtitle {
    text-align: center;
    font-family: 'Raleway'; 
    font-size:  clamp(1rem, 2vw, 1.4rem); 
    font-weight: normal; 
    color: #ffffff;
  }
  

