
.card {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(23, 141, 196, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #fff;
}


.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
}

.name {
  flex-grow: 1;
  color: black;
}

.details {
  padding: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease; 
}

.card.expanded {
  height: 200px;
  padding: 15px; 
}

.card.expanded .details {
  max-height: 1000px;
}