.garage-page{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 110vh;
  width: 100vw;
  align-items: center;

}




.car-name {
  padding-top: 1%;
  color: #242424;
  font-size: 45px;
  font-family: 'AkiraExpanded';
  text-align: center;
  width: 100%; 
  z-index: 1; 
}




.cars-image-slider {
  width: 80%;
  height: 70%; /* Adjust the height based on your images */
  display: flex;
  overflow: hidden;
}

.slick-list {
  height: 100%;
  align-items: start;
}


.car-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.car-image img {
  width: 80%;
  align-self: center;
  margin: 0 auto; 
  
}



.custom-arrow{
  font-size: 40px;
  padding: 1%;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
}


.next-arrow{
  right: 1%;
}

.prev-arrow{
  left: 1%;
}


.button-container{
  display: flex;
  height: 5%;
  width: 100%;
  justify-content: center;
  align-items: center;
 
}

.car-button {
  width: 22%;
  text-align: center;
  background-color: #1f1f1f; 
  color: #ffffff; 
  font-family: 'AkiraExpanded';
  padding: 1%;
  text-decoration: none;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.car-button:hover {
 transform: scale(1.1); 
}



.page-header-container{  
  height: 20%;
  width: 100%;
  padding: 1%;
  background-color: #1d1d1d;
} 

.page-header-container .page-title {
  font-family: 'AkiraExpanded'; 
  font-size: 70px; 
  font-weight: normal; 
  background-image: linear-gradient(to right, #19a3ff, #ffffff);
  background-size: 100%;
  background-clip: text;
  color: transparent;
  margin: 0;
}

.page-header-container .page-subtitle {
  font-family: 'Raleway'; 
  font-size: 24px; 
  font-weight: normal; 
  color: #ffffff;
}

