.garage-page{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 110vh;
  width: 100vw;
  align-items: center;

}



.car-name {
  padding-top: 1%;
  color: #242424;
  font-size: 45px;
  font-family: 'AkiraExpanded';
  text-align: center;
  width: 100%; 
  z-index: 1; 
}




.cars-image-slider {
  width: 80%;
  height: 70%; /* Adjust the height based on your images */
  display: flex;
  overflow: hidden;
}

.slick-list {
  height: 100%;
  align-items: start;
}


.car-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  overflow: hidden;
  transition: filter 0.3s ease;
}

.car-image img {
  width: 80%;
  align-self: center;
  justify-content: center;
  margin: 0 auto; 
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease; /* Add transition for the image as well */
  
}

.hovered {
  filter: brightness(100%);
}

.button-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  width: 80%;

}

.car-button {
  width: 22%;
  text-align: center;
  background-color: #1a1a1a; 
  color: #ffffff; 
  font-family: 'AkiraExpanded';
  padding: 1%;
  text-decoration: none;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}





.car-button:hover {
  transform: scale(1.1); 
}





.custom-arrow{
  font-size: 20px;
  padding: 1%;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
}


.next-arrow{
  right: 1%;
}

.prev-arrow{
  left: 1%;
}


