.news-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.main-content {
  flex: 2;
  padding: 20px;
}

.sidebar {
  flex: 1;
  background-color: #1d1d1d; /* Darker shade */
  color: white;
  padding: 20px;
}

.newspage {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 100svw;
  background-color: white;
}

.article-image {
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.add-article-button{
  background-color: #1d1d1d;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.previous-articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grid layout for responsive columns */
  gap: 20px; /* Space between the articles */
  padding: 20px; /* Padding around the container */
}