.news-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.main-content {
  flex: 2;
  padding: 20px;
}

.sidebar {
  flex: 1;
  background-color: #1d1d1d; /* Darker shade */
  color: white;
  padding: 20px;
}

.newspage {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 100svw;
  background-color: white;
}
