/* General page styling */
.dummy-partners-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* Adjusted for content size */
    padding: 2%; /* Consistent padding */
  }
  
  /* Title and subtitle container - consistent with partner style */
  .dummy-page-title-container {
    padding: 2%; /* Consistent padding */
  }
  
  /* Main title styling - aligned with partner title style */
  .dummy-title {
    font-family: 'AkiraExpanded', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }
  
  /* Subtitle styling - aligned with partner subtitle style */
  .dummy-subtitle {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  
  /* Container for the logo cards - adapted to flex column and center alignment */
  .dummy-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Consistent gap */
  }
  .dummy-partner-row {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line */
    justify-content: space-evenly;
    /* Evenly space the cards */
    gap: 20px;
    /* Space between cards */
    padding: 2%;
    overflow-x: auto;
  }
  /* Styling for each logo card - matched with partner card style */
  .dummy-partner-item {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Hover effect for the entire card */
.dummy-partner-item:hover {
    transform: scale(1.05); /* Scale up the card slightly */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Enhance shadow for a lifted effect */
    opacity: 1.1; /* Optionally increase opacity */
  }
  
  /* Optional: Adjust the image slightly on card hover, if needed */
  .dummy-partner-item:hover img {
    transform: scale(1.02); /* Slightly scale up the image */
  }
  /* Logo styling within each card - ensuring full coverage and contain fit */
  .dummy-partner-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Adjusted to contain to prevent distortion */
    border-radius: 20px; /* Rounded corners for the image */
    background-color: #FFF; /* Background color for the image */
  }
  
  /* Responsive adjustments for smaller screens - consistent with partner style */
  @media (max-width: 768px) {
    .dummy-partner-item {
      width: 200px; /* Adjusted width for smaller screens */
      height: 200px; /* Adjusted height to maintain aspect ratio */
    }
  }
  