
.specs-section {
    padding: 2%;
  }

.specs-section h2 {
    font-family: 'Raleway';
    margin-bottom: 5%; 
  }

.specs-section ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    font-family: 'Raleway';
  }

.specs-section li {
    margin-bottom: 3%; 
}