
/* ///////////////ARROWS/////////////// */
.custom-arrow{
    font-size: 40px;
    padding: 1%;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    color: #ffffff;
  }
  
  
  .next-arrow{
    right: 1%;
  }
  
  .prev-arrow{
    left: 1%;
  }

