
.text-header-box{
    padding-left: 3%;
    padding-right: 30%;
    padding-top: 2%;
    background-image: url("../../assets/images/car_background.jpg"); 
    object-fit: contain;
    object-position: center;
    height: 40vh;
}
.text-header h2 {
    text-align: left;
    font-size: 35px;
    font-weight: 900; 
    color: rgb(255, 255, 255);
  }
  
  .text-header p {
    text-align: left;
    font-size: 20px;
    font-weight: 500; 
    color: rgb(255, 255, 255);
  }
  
  .team-cards{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
  }
  .spacer{
    height: 0.6vh;
    background-color: #2e2e2e;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 30px;
  }

  .board-cards-header {
    text-align: center;
    padding-top: 2% ;
    padding-bottom: 2% ;
    font-weight: 700;
    font-size: 40px;
  }

  .management-cards-header {
    text-align: center;
    padding-top: 2% ;
    padding-bottom: 2% ;
    font-weight: 700;
    font-size: 40px;
  }


  .board-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  
  }

  .management-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  
