

.text-header-box{
    padding-left: 3%;
    padding-right: 30%;
    padding-top: 2%;
}
.text-header h2 {
    text-align: left;
    font-size: 35px;
    font-weight: 900; 
  }
  
  .text-header p {
    text-align: left;
    font-size: 20px;
    font-weight: 500; 
  }

  .team-cards{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
  }

  .board-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
