.title {
  font-family: "AkiraExpanded";
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.subtitle {
  font-family: "Raleway";
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.positions{
  padding:3vw;
  margin:auto;
}
