/*
Especific styles
*/
.App {
    text-align: center;
    font-family: 'PoppinsBold', sans-serif;
  }
  
  
  
.language-dropdown {
    /* Add your language dropdown styles here */
    color: #fff;
  }
