.description {
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 5vw 35vw 45vw 5vw;
  column-gap: 100px;
  overflow: hidden;

}


.description .text {
  text-align: justify;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 20px;
  
}

.text h1{
  margin-top:0;
}

.description .logoNFS {
  height: 40vh;
  margin: auto;
}
.description .logoNOVA {
  height: 40vh;
}

.car {
  width: 100vw;
}

.sobre {
  background-image: url("../../assets/images/car_background.jpg");
  background-size: cover;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  width: 100vw;
  margin: auto;
}


.team{
  columns: 2;
  margin:10vh;
 
}

.teamLeaderPhoto{
  width: 30vh;
}

.titleLink{
  font-size: 1.17em;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.sponsors{
  background-image: url("../../assets/images/car_image_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  width: 100vw;
  margin: auto;
  padding:30px;
  columns: 3;

  padding-left:10vw;
  
}

.card{
  pointer-events: none;
  margin-left: 10vw;

  transition: transform 0s ease;
  &:hover {
    transform: scale(1);
  }
  
}

.card .btn{
  pointer-events:all;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.06);
  }
}
