.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    
  }
  
  .member-image-container {
    width: 200px; /* Set a fixed width for the image container */
    height: 200px; /* Set a fixed height for the image container */
    overflow: hidden; /* Hide overflow to keep fixed size */
    padding: 12%; 
    
  }
  
  .member-image {
    width: 100%;
    height: 100%; /* Ensure the image won't exceed the container size */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
    border-radius: 50%;
  }
  
  .member-details {
    text-align: center;
  }
  
  .member-name {
    font-size: 1.3em; /* Increase the font size of the name */
    margin-bottom: 8px; /* Add some spacing below the name */
    
  }
  
  .member-role {
    font-size: 1em;
    font-weight: 600;
    max-width: 90%;
    color: #818181;
  }


  /*//////POP UP/////////*/

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Darken the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; /* Make sure it's above other elements */
  }
  
  .popup-content {
    background: #101010; /* Background color of the pop-up */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .popup-image {
    width: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 50px;
  }
  
  .popup-details {
    margin-top: 15px;
  }