
.fenixevo-image-row {
  display: flex;
  height: 100%;
  width: 100%;
}

.fenixevo-image-card {
  position: relative;
  margin: 6px;
  overflow: hidden;
  cursor: pointer;
  width: 100%; /* Set a fixed width for the image-card */
  height: auto; /* Set a fixed height for the image-card */
}

.fenixevo-gallery-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Set height to fill the viewport */
  width: 100%;
  object-fit: cover; /* Ensure the image covers the entire space */
  transition: transform 0.3s ease;
}

.fenixevo-image-overlay {
  position: absolute;
  top: 0; /* Adjusted to cover the entire image */
  left: 0;
  width: 100%;
  height: 100%; /* Adjusted to cover the entire image */
  background-color: rgba(0, 0, 0, 0); /* Initially transparent */
  padding: 10px;
  transition: background-color 0.3s ease; /* Transition the background color */
  display: flex; /* Use flexbox to align text */
  flex-direction: column; /* Arrange text vertically */
  justify-content: center; /* Vertically center the text */
  align-items: center; /* Horizontally center the text */
}

/* ///////////Defalut style for all text//////// */
.fenixevo-overlay-text{
  font-family: 'Raleway';
  font-size: 1.8em;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  padding: 1%;
  transition: color 0.3s ease; /* Transition the background color */
}

/* ///////////expecifics styles//////// */
.fenixevo-overlay-text.title{
  font-family: 'Horizon';
  font-size: 2.4em;
}


.fenixevo-image-card:hover .fenixevo-image-overlay {
  background-color: rgba(0, 0, 0, 0.7); /* Fade in effect */
}

.fenixevo-image-card:hover .fenixevo-gallery-image {
  transform: scale(1.1);
}

.fenixevo-image-card:hover .fenixevo-overlay-text {
  color: white; /* Fade in effect */
}


/*////////////// Portrait Mode///////////////////*/
@media (max-aspect-ratio : 1/1) {

  .fenixevo-image-row {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .fenixevo-image-card {
    position: relative;
    margin: 6px;
    overflow: hidden;
    cursor: pointer;
    width: 50%; 
    height: auto; 
  }
  
  .fenixevo-gallery-image {
    width: 100%;
    height: 400px; /*  MUDAR ISTO */
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
  }

  .fenixevo-image-overlay {
    position: absolute;
    top: 0; /* Adjusted to cover the entire image */
    left: 0;
    width: 100%;
    height: 100%; /* Adjusted to cover the entire image */
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
    padding: 10px;
    transition: background-color 0.3s ease; /* Transition the background color */
    display: flex; /* Use flexbox to align text */
    flex-direction: column; /* Arrange text vertically */
    justify-content: center; /* Vertically center the text */
    align-items: center; /* Horizontally center the text */
  }


  
  /* ///////////Defalut style for all text//////// */
  .fenixevo-overlay-text{
    font-family: 'Raleway';
    font-size: 1.2em;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    padding: 1%;
    transition: color 0.3s ease; /* Transition the background color */
  }
  
  /* ///////////expecifics styles//////// */
  .fenixevo-overlay-text.title{
    font-family: 'Horizon';
    font-size: 1.6em;
  }
  
  
  .fenixevo-image-card:hover .image-overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Fade in effect */
  }
  
  .fenixevo-image-card:hover .gallery-image {
    transform: scale(1.1);
  }
  
  .fenixevo-image-card:hover .overlay-text {
    color: white; /* Fade in effect */
  }

  .competition-results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .competition-results li {
    margin-bottom: 5px;
    font-size: 1.1em;
  }
}

